/** ====================================================================================/
 *  Weather Watcher Styles
 * ====================================================================================*/
body {
  padding: 2em;
}

#app-view {
  padding: 1em 0 0 0;
  min-width: 320px;
}

#header {
  marginL 0 1em 1em 1em;
}

#content {
}

.page-view {
  padding: 1.75em 0;
}
  .page-view > h3 {
    margin-left: 2em;
  }

#places-list {
  padding: 2em;
}

#places-list .panel {
  width: 30%;
  max-width: 300px;
  min-width: 200px;
  float: left;
  margin-right: 1em;
}
